*, *::before, *::after{
    box-sizing: border-box;
    user-select: none;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.world{
    overflow: hidden;
    position: relative;
}

.score{
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
}